<%- include('../layouts/header'); -%>

<%- include('../layouts/flash') -%>


<form action="/admin/category/add" method="post">

<input name="category" type="text" placeholder="category name" required>
<button type="submit">sumbit</button>
</form>


<%- include('../layouts/footer'); -%>