

<%- include('../layouts/flash') -%>


<form action="" method="post">

<input name="category" type="text" placeholder="category name" value="<%=catData.category%> " required>
<input type="hidden" name="id" value="<%= catData._id  %>">
<button type="submit">sumbit</button>
</form>


