body {
	color: #000000;
	background-color: #E0F2F1;
}

.thanks, .heading, .sub-heading1, .btn-green {
	text-transform: uppercase;
}

.box {
	margin: auto;
}

.heading {
	font-weight: bold;
	font-size: 85px;
	color: #ffffff;
}

.sub-heading1 {
	padding: 8px 0 8px 0;
	margin-bottom: 2px;
	color: #64FFDA;
}

.sub-heading2 {
	padding: 0px 0 8px 0;
	margin-bottom: 30px;
	color: #9E9E9E;
}

.card {
	padding: 8%;
	padding-bottom: 30px;
	padding-top: 35px;
	margin-top: 60px;
	margin-bottom: 80px;
	background-color: #263238;
	border-radius: 0;
}

#e-mail {
	height: 45px;
}

input.input-box, textarea.input-box {
	background-color : #ffffff;
	border: #000000;
	color: #212121;
	font-size: 15px;
	padding: 15px auto 15px auto !important;
	height: 50px !important;
}

input.input-box:focus, textarea.input-box:focus {
	border: 1px solid #64FFDA;
	color: #212121;
	box-shadow: 0 0 1px 1px #64FFDA;
}

.rm-border:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}

form .form-control::-webkit-input-placeholder { 
  	color: #9E9E9E;
}

::-moz-placeholder {
  	color: #9E9E9E !important;
}

input.btn-green {
	background-color: #64FFDA;
	padding-left: 0px;
	padding-right: 0px;
	color: #000000;
	font-weight: bold;
	height: 50px;
}

.thanks {
	color: #0091EA !important;
	text-align: center;
}

.thanks:hover {
	color: #01579B !important;
	text-decoration: underline;
}

.conditions {
	font-size: 12px;
	color: #546E7A;
	text-align: center;
}