@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.main{

	    border-collapse: separate !important;
    border-spacing: 0 11px !important;
}

tr{

	    border: 1px solid #eee;
}

.head th{

	font-weight: 500;
}


tr:nth-child(3) { border: solid thin; }

.form-check-input:focus {
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none;
}

.btn{

	    height: 27px;
    line-height: 11px;
    color: #fff;
}

.form-check-input {
    width: 1.15em;
    height: 1.15em;
    margin-top: 3px;

}



.btn:focus {
    color: #fff;

    box-shadow: none !important;
}

.order-color{
	color: blue;
}