<%- include('../layouts/header'); -%>

<%- include('../layouts/flash') -%>


<form action="/admin/brand/add" method="post">

<input name="brand" type="text" placeholder="brand name" required>
<button type="submit">sumbit</button>
</form>


<%- include('../layouts/footer'); -%>